@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-ed-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

html {
	@apply text-white bg-black;
	height: 100%;
	position: relative;
	&:before {
		content: '';
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url('/assets/img/general/main-bg.jpg') 50% 50% no-repeat;
		background-size: cover;
	}
}
body {
	@apply text-white backdrop-blur-3xl	 bg-black/85;
	height: 100%;
}
input {
	outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #ffffff;
	transition: background-color 5000s ease-in-out 0s;
	box-shadow: inset 0 0 20px 20px #23232300;
}

.dynamic-grid {
	max-width: 100%;
	& > * {
		display: flex;
		flex-wrap: nowrap;
		overflow-scrolling: touch;
		-webkit-overflow-scrolling: touch;
		overflow-y: auto;
		margin-left: -16px;
		margin-right: -16px;
		padding-left: 16px;
		padding-right: 16px;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
